<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="screen-orientation" content="portrait">
	<title>title</title>
	<link rel="stylesheet" href="../static/css/index.css">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>
<body>
<div v-on:click="sayHi">
	打开控制台,看netWork 我是异步加载的js模块2222====333
</div>
<my-head></my-head>
<loading></loading>
<index-info></index-info>
<script src="../static/es6/lib/vue.js"></script>
<script src="../static/es6/index.js"></script>
</body>
</html>